/* Item Shop */
.arts__itm {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-width: 21.6rem;
    height: auto;
    margin-top: 2.4rem;
    padding: 0 .6rem;
}

.itm__img {
    width: 100%;
    height: auto;
}

.itm__img > img {
    width: 100%;
    border-radius: 2rem;
}

.info__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.itm__info {
    flex-grow: 1;
    margin-top: .8rem;
}

.itm__info p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875rem;
}

.itm__info p:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #797979;
}

.itm__cart {
    display: flex;
    align-items: center;
    width: 4.6rem;
    min-width: 4.6rem;
    height: auto;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.itm__cart > img {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
}