.nf-main {
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
}

.nf-main__msg {
    width: 90%;
    max-width: 34rem;
    height: auto;
    margin: 0 auto;
}

.msg__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem;
    margin: 0 auto;
    color: var(--h_green);
    font-size: 8rem;
    background-color: var(--ti_field);
    border-radius: 50%;
}

.nf-main__msg > p {
    width: 100%;
    height: auto;
    margin-top: 1.8rem;
    text-align: center;
    font-size: 2.4rem;
}

.nf-main__msg > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin-top: 3.6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.25;
    text-decoration: none;
    color: var(--white);
    background-color: var(--h_green);
    border-radius: 1rem;
}