/* Not Found Page */
.nf-cont > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 28rem; 
    font-family: 'Roboto', sans-serif;
    font-size: 12rem;
    color: var(--h_green);
    background-color: var(--ti_field);
    border-radius: 50%;
}

.nf-cont > p {
    margin-top: 2.4rem;
    font-size: 2.4rem;
}